@page "/about"
@using Web.Services
@inject TitleService titleService

<h1>About works!</h1>

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        titleService.SetTitle("About");
        return base.OnAfterRenderAsync(firstRender);
    }
}