@page "/settings/projects"
@using Web.Services
@inject TitleService titleService

<h1>Settings Projects works!</h1>

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        titleService.SetTitle("Settings Projects");
        return base.OnAfterRenderAsync(firstRender);
    }
}